/* Code for using downloaded fonts */
@font-face{
    font-family : Poppins;
    src: url("Poppins-Medium.ttf");
}

/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* Variables for colors */
:root{
    --primary-color : #50cfc1;
    --secondary-color : #121212;
}

/* Code for centering an elements */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameArea{
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.gameArea header{
    height: 10vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: rgba(73, 197, 182, 0.3) 3px 3px 30px;
}
header > p{
    font-size: 1.5rem;
    font-weight: 600;
}
.scoreBoard{
    height: 10vh;
    opacity: 1;
    transition: 1s;
}
.scoreBoard > p{
    display: inline-block;
    margin: 0 10px;
    font-size: 1.3rem;
}
.playerTurn{
    height: 10vh;
    opacity: 1;
    transition: 1s;
}
.playerTurn > p{
    font-size: 1.3rem;
    border: 2px solid var(--primary-color);
    padding: 5px 13px;
    margin-top: 5px;
}
.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 20px;
    opacity: 1;
    transition: 1.5s;
}
.gameBoard > button{
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}
/* code for hide and view elements when gameover and restart */
.active{
    opacity: 0;
}
.resultBox{
    height: 270px;
    width: 250px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(73, 197, 182, 0.3) 3px 3px 30px;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}
.resultBox.active{
    opacity: 1;
    z-index: 111;
    transition: 3s;
}
.resultBox #winnerName{
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}
.resultBox #message{
    text-align: center;
    font-size: 2.5rem;
    margin-top: -20px;
}
.resultBox input[type="button"]{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 2px;
    text-transform: capitalize;
    margin-left: 23%;
    cursor: pointer;
}